.team {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.main-container {
  display: flex;
  align-items: center;
  min-height: 74vh;
  p {
    font-family: "Raleway", sans-serif;
    font-size: 1.7em;
    color: rgba(0,0,0,0.6)
  }
}


